.wheel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    opacity: 0.1;
    animation: fadeInUp 1s ease;
    z-index: -1;
    user-select: none;
    visibility: hidden; /* Скрываем колёса */
  }
  
  .wheel-container.loaded {
    visibility: visible; /* Показываем после загрузки */
  }
  
  .outer-wheel {
    position: absolute;
    width: calc(400px + 15rem);
    height: calc(400px + 15rem);
    top: 10%;
    z-index: -1;
    transition: all 0.3s ease;
  }
  
  .core-wheel {
    position: absolute;
    width: 11rem;
    height: 11rem;
    top: calc(30% + 225px);
    z-index: -1;
    transition: all 0.3s ease;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  