.scroll-button {
    @include no-def-styles();
    z-index: 10;
    position: absolute;
    bottom: 2.5rem;

    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: #4949492c;
    color: #494949de;

    backdrop-filter: blur(1px);
    filter: brightness(1.2);

    font-family: "Oswald", sans-serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 1.25rem;

    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        filter: brightness(1);
        color: #ffffff;
        transform: scale(1.09);
    }
}

.anchor-link {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    color: rgb(122, 122, 126);
    font-weight: bold;
    font-size: 0.85rem;

    transition: .3s;
    cursor: pointer;

    backface-visibility: hidden;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        transform-origin: left;
        height: 1px;
        background-color: #fff;

        transition: transform .3s;
    }

    &:hover {
        color: #fff;
        font-size: 1rem;

        &::before {
            transform: scaleX(1);
        }
    }
}