
@media (max-width: 575.98px) {
  .landing-content {
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start;
    height: auto;
    gap: 35px !important;
    padding: 10px 15px 8vh 15px !important;
  }

  .landing-content .main-content {
    min-height: 78vh !important;
  }

  .landing-content .card-grid {
    height: auto !important;
    max-height: unset !important;
    min-height: unset !important;
  }

  .landing-content h3 {
    font-size: 2rem !important;
  }

  .landing-content p {
    font-size: 1.5rem !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .landing-content {
    padding: 10px 15px 8vh 15px !important;
  }

  .landing-content h3 {
    font-size: 1.5rem !important;
  }

  .landing-content p {
    font-size: 1.5rem !important;
  }

  .landing-content .card-grid {
    height: auto !important;
    max-height: unset !important;
    min-height: unset !important;
    padding-bottom: 10px !important;
  }
}




