/* Стили для мобильных устройств (телефоны) */
@media (max-width: 550px) {
    body {
        font-size: 15px;
    }

    .right-side {
        display: none;
    }

    section {
        width: 100% !important;
        padding-right: 10vw;
    }
}

/* Стили для устройств, которые больше телефонов, но меньше планшетов */
@media (min-width: 551px) and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .right-side {
        display: none;
    }

    section {
        width: 100% !important;
        padding-right: 10vw;
    }
}

/* Стили для планшетов и небольших ноутбуков */
@media (min-width: 769px) and (max-width: 991px) {
    body {
        font-size: 16px;
    }
}

/* Стили для ноутбуков и десктопов средней ширины */
@media (min-width: 992px) and (max-width: 1920px) {
    body {
        font-size: 17px;
    }
}

/* Стили для широких экранов (десктопы и ТВ экраны) */
@media (min-width: 2000px) {
    body {
        font-size: 22px;
    }
}