main {
    &.main-container {
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20%;

        @keyframes flip-down {
            0% {
                transform: rotateX(0deg);
                opacity: 1;
            }

            50% {
                transform: rotateX(90deg);
                opacity: 0;
            }

            100% {
                transform: rotateX(0deg);
                opacity: 1;
            }
        }

        .main-content-canvas-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .timeline-header {
                font-size: 18px;
                font-weight: bold;
                color: #fff;
                text-align: center;
                perspective: 1000px;
                /* Для эффекта 3D */
                animation: flip-down 1s ease;
            }
    
            .current-day {
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 14px;
                color: #fff;
            }
    
            .main-content-canvas {
                display: flex;
                width: 100%;
                height: 130px;
                box-sizing: border-box;
            }

        }

        .fire-decor-canvas {
            position: absolute;
            z-index: -1;
            height: 300px;
            width: 300px;
            top: 20%;
            padding: 0;
        }
    }
}