.header {
    z-index: 10;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;

    &__container {
        z-index: 10;
        display: flex;
        position: relative;
        flex-direction: row;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        background-color: #131212ef;
        background: linear-gradient(to right, #071602ef 10%, #131212ef 20%, #131212ef 80%, rgba(7, 22, 2, 0.796) 100%);
        border-bottom: 1px solid #555252af;
        width: 100%;
        height: 4rem;
        box-sizing: border-box;
        padding: 0rem 2rem;
    }

    @media (max-width: 575.98px) {
        .header__container {
            padding: 0rem 0.4rem;
        }
    }

    &__logo-wrapper {
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
    }

    &__title {
        padding-left: 10px;
        text-shadow:
            2px 2px 0px rgba(0, 0, 0, 0.6),
            -2px -2px 2px rgba(255, 255, 255, 0.5);
        filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.8));
    }

    &__buttons {
        display: flex;
        gap: 10px;
        margin-left: auto;
        padding-right: 15px;
        font-size: 0.7rem;
        align-items: center;
    }

    &__button {
        font-size: 0.875rem;
        padding: 6px 12px;
        border-radius: 10px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: auto;
        opacity: 0;

        &--logout {
            color: #fff;
        }
    }
}