@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../styles/animations.css');
@import url('../styles/responsive.css');

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html,
body {
  width: 100vw;
}

body {
  color: #f1e9e9;
  background: var(--background);
  font-family: "Fira Sans Condensed", sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.main {
  z-index: 10;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #f5f2f2; /* Цвет фона выделения */
  color: #000000;            /* Цвет текста в выделении */
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
    background-color: transparent !important; /* Устанавливает прозрачный фон или замените на нужный цвет */
    -webkit-box-shadow: 0 0 0px 1000px #000000 inset; /* Замените #000000 на желаемый цвет фона */
    -webkit-text-fill-color: #ffffff !important; /* Замените #ffffff на желаемый цвет текста */
    transition: background-color 5000s ease-in-out 0s; /* Убирает анимацию автозаполнения */
}

svg {
  z-index: 10;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Стили для всех скроллбаров */
* {
  scrollbar-width: thin; /* Для Firefox: тонкий скроллбар */
  scrollbar-color: #888 #242222; /* Для Firefox: цвет ползунка и трека */
}

*::-webkit-scrollbar {
  width: 8px; /* Ширина вертикального скроллбара */
  height: 8px; /* Высота горизонтального скроллбара */
}

*::-webkit-scrollbar-track {
  background: #222121; /* Цвет трека (фон скроллбара) */
}

*::-webkit-scrollbar-thumb {
  background: #d8d8d8; /* Цвет ползунка */
  border-radius: 4px; /* Скругление углов ползунка */
}

*::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет ползунка при наведении */
}
