
.main {
    @include no-padding;
    @include flexbox(column);
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    &.page-background {
      @include page-background('/background.png')
    }

    section {
      &.landing-content {
        @include flexbox(row);
        @include full-parent;
        @include padding-kit;
        min-height: calc(100vh - 5rem);
        align-items: flex-start;
        overflow-y: auto;
        backdrop-filter: blur(8px);
  
        .card-grid {
          @include blocks-content;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          min-height: 60vh;
          max-height: 90vh;
        }

        .main-content {
            @include blocks-content;
            position: relative;
            display: flex;
        }
      }
    }
  }