main {
    &.page-background {
        min-height: 100vh;
        background-color: black;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    section {
        &.profile-content {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            height: calc(100vh - 5rem);
            overflow: hidden;
            border-radius: 10px;
            gap: 0.5rem;
            padding: 1rem 2rem;
            backdrop-filter: blur(8px);
        }

        article {
            width: 100%;
            height: auto;
            max-height: calc(90vh - 3rem);
            background-color: #1a1818ef;
            border-radius: 10px;
            border: 1px solid #b3b0b05b;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 15px 10px;
            gap: 10px;
            transform-origin: center bottom;
            transition: transform 0.1s ease;
            box-shadow:
                0 0 20px rgba(255, 255, 255, 0.1),
                inset 0 0 30px rgba(255, 255, 255, 0.05),
                0 0 5rem 40px rgba(255, 255, 255, 0.001);
            box-sizing: border-box;
            transform: rotateX(var(--rotation-x)) rotateY(var(--rotation-y));

            &.profile-header {
                position: sticky;
                top: 0;
                min-width: 350px;
                max-width: 350px;
                height: calc(90vh - 3rem);
                display: flex;

                .profile-title {
                    text-align: center;
                    line-height: 2rem
                }

                .profile-header-navigation {
                    position: relative;
                    width: 100%;
                    color: #f5eeee;

                    ul {
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        list-style: none;
                        gap: 5px;
                        transition: all 0.3 ease;
                        position: relative;

                        li {
                            position: relative;

                            button {
                                width: 100%;
                                font-size: 1.2rem;
                                font-weight: 500;
                                padding: 8px 13px;
                                color: #e6dede;
                                background-color: transparent;
                                border-radius: 10px;
                                border: none;
                                position: relative;
                                z-index: 1;
                                text-align: left;
                                cursor: pointer;
                                /* Чтобы кнопка была выше фона */

                                &:hover {
                                    color: #ffffff;
                                    background-color: #312f2f4d;
                                }

                                &.active {
                                    color: #ffffff;
                                }
                            }
                        }
                    }

                    .indicator {
                        background-color: #312f2f93;
                        width: 100%;
                        height: calc(1.55rem + 16px);
                        padding: 8px 13px;
                        border-radius: 10px;
                        position: absolute;
                        left: 0;
                        transition: all 0.3s ease;

                        &::before {
                            content: '';
                            position: absolute;
                            right: 10px;
                            top: 35%;
                            transform: rotateY(50%);
                            background-color: white;
                            width: 12px;
                            height: 12px;
                            border-radius: 25px;

                        }
                    }
                }
            }

            &.profile-settings {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: fit-content;
                gap: 20px;
                padding: 20px;
              }
        }
    }
}
