main {
    &.page-background {
        min-height: 100vh;
        background-color: black;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    section {
        &.profile-content {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            height: calc(100vh - 5rem);
            overflow-y: auto;
            border-radius: 10px;
            gap: 0.5rem;
            padding: 1rem 2rem;
            backdrop-filter: blur(8px);

            .profile-header {
                position: sticky;
                top: 0;
                width: 100%;
                max-width: 350px;
                height: calc(90vh - 5rem);
                display: flex;

                .profile-title {
                    text-align: center;
                    line-height: 2rem
                }

                .profile-header-navigation {
                    position: relative;
                    width: 100%;
                    color: #f5eeee;

                    ul {
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        list-style: none;
                        gap: 5px;
                        transition: all 0.3 ease;
                        position: relative;

                        li {
                            position: relative;

                            button {
                                width: 100%;
                                font-size: 1.2rem;
                                font-weight: 500;
                                padding: 8px 13px;
                                color: #e6dede;
                                background-color: transparent;
                                border-radius: 10px;
                                border: none;
                                position: relative;
                                z-index: 1;
                                text-align: left;
                                cursor: pointer;
                                /* Чтобы кнопка была выше фона */

                                &:hover {
                                    color: #ffffff;
                                    background-color: #312f2f4d;
                                }

                                &.active {
                                    color: #ffffff;
                                }
                            }
                        }
                    }

                    .indicator {
                        background-color: #312f2f93;
                        width: 100%;
                        height: calc(1.55rem + 16px);
                        padding: 8px 13px;
                        border-radius: 10px;
                        position: absolute;
                        left: 0;
                        transition: all 0.3s ease;
                      }
                }
            }

            .profile-grid {
                display: grid;
                grid-template-columns: repeat(1, minmax(300px, 1fr));
                gap: 10vh;
                width: 100%;
                overflow: hidden;

                .grid-item {
                    display: flex;
                    height: 100%;
                }
            }
        }
    }

    article {
        width: 100%;
        height: 100%;
        background-color: #1a1818ef;
        border-radius: 10px;
        border: 1px solid #b3b0b05b;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 15px 10px;
        gap: 10px;
        overflow: hidden;
        transform-origin: center bottom;
        transition: transform 0.1s ease;
        box-shadow:
            0 0 20px rgba(255, 255, 255, 0.1),
            inset 0 0 30px rgba(255, 255, 255, 0.05),
            0 0 5rem 40px rgba(255, 255, 255, 0.001);

        transform: rotateX(var(--rotation-x)) rotateY(var(--rotation-y));
    }
}